
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ng-app: sudokuModule;" lang="en" > <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ng-app: sudokuModule;" lang="en" > <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ng-app: sudokuModule;" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js ng-app: sudokuModule;" lang="en" > <!--<![endif]-->
<html>
<head>
	<title>Sudoku by Syed</title>

	<link type="text/css" rel="stylesheet" href="./css/reset.css">
	<link type="text/css" rel="stylesheet" href="./css/main.css">
	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Finger+Paint' rel='stylesheet' type='text/css'>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>

	<script type="text/javascript" src="./js/sudoku.js"></script>

</head>
<body>
	<div ng-controller="sudokuController">
		<h1>HRR7 - Let's Play Sudoku!</h2><br/>

			<table class="center">
				<tr ng-repeat="row in transform" class="b_{{$index % 3 == 0}}" >
					<td ng-repeat="item in row"  class="b_{{$index % 3 == 0}} {{checkClass(item.isEven)}} {{item.valid}}">
						<input type="text" ng-change="change(item)" ng-model="item.value" maxlength="1" />
					</td>
				</tr>
			</table>

			<div class="error" ng-show='not_valid_column'>Number already exists in the column</div>
			<div class="error" ng-show='not_valid_row'>Number already exists in the row</div>
			<div class="error" ng-show='not_valid_block'>Number already exists in the block</div>
			<div class="error" ng-show='not_valid_odd'>Must be an odd number there</div>
			<div class="error" ng-show='not_valid_even'>Must be an even number there</div>
			<div class="error" ng-show='not_valid_item'>This is not a number!</div>
			<div>
			<div><a href="#" class="action-button shadow animate red" ng-click="showSolution()">Show Solution</a></div>

				<div><a href="#" class="action-button shadow animate green" ng-click="newGame()">New Game</a></div>

			</div>
		</div>
		<div class="version"></div>

	</body>
	</html>